#excluir todos los archivos que contengan "Cuestionario graduado"
*Cuestionario graduado*
*Cuestionario-graduado*
#excluir todos los archivos del directorio .tmp.driveupload
.tmp.driveupload/
Certificado profesional de Analista de ciberseguridad de IBM/8. Marco de cumplimiento de la ciberseguridad, normas y reglamentos/Módulo 5/proyecto correcion.md
BITACORA.md